Repository NVIDIA-NeMo/Evaluator: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-underscore-md, check-readme-checksum, check-container-digests

.pre-commit-config.yaml:

# Copyright (c) 2025, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
      # only include python files
      files: \.py$
    - id: trailing-whitespace
      # only include python files
      files: \.py$

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.9.9" # Use the appropriate version
    hooks:
    - id: ruff
      args: ["--fix"]
    - id: ruff
      args: ["check", "--select", "I", "--fix"]
    - id: ruff-format

  - repo: local
    hooks:
      - id: no-underscore-md
        name: "Disallow '_' in Markdown filenames"
        language: system
        entry: |
          bash -c '
            # Report the offending files
            echo "[pre-commit] ERROR: Found Markdown files with underscores:" >&2
            for file in "$@"; do
              echo "  - $file (use hyphens instead)" >&2
            done
            exit 1
          '
        files: '.*\/[^\/]*_[^\/]*\.md$'
        exclude: '^\.github/'
        types: [file]
      - id: check-readme-checksum
        name: "Check README.md checksum matches mapping.toml"
        language: system
        entry: python scripts/check-readme-checksum.py
        files: ^(README\.md|packages/nemo-evaluator-launcher/src/nemo_evaluator_launcher/resources/mapping\.toml)$
        pass_filenames: false
      - id: check-container-digests
        name: "Check container digests in mapping.toml"
        language: system
        entry: |
          bash -c '
            # Install tomli if Python < 3.11 (tomllib is stdlib in 3.11+)
            python3 -c "import sys; exit(0 if sys.version_info >= (3, 11) else 1)" 2>/dev/null || python3 -m pip install --quiet --user tomli 2>/dev/null || true
            python3 scripts/check-container-digests.py
          '
        files: ^packages/nemo-evaluator-launcher/src/nemo_evaluator_launcher/resources/mapping\.toml$
        pass_filenames: false

Apply suggestion from @chenopis
  docs/evaluation/nemo-fw-multimodal.md
Due: none

ci: Update release workflow to only allow admins to release (#890)
  .github/workflows/release.yaml
Due: none

feat: add docs for Qwen 2.5 VL evaluation with NeMo FW (#887)
  docs/evaluation/_snippets/vlmeval_ocrbench.py
  docs/evaluation/nemo-fw-multimodal.md
  docs/index.md
Due: none

Proxy config refactor
  examples/configs/07_swebench_harbor.yaml
  examples/configs/07_swebench_harbor_prod.yaml
  examples/configs/07a_swebench_harbor_docker.yaml
  examples/configs/08_terminalbench_harbor.yaml
  examples/configs/08b_terminalbench_v1_harbor.yaml
  examples/configs/12_pinchbench_openclaw.yaml
  examples/configs/conf/services/nemotron_fp8_vllm.yaml
  examples/configs/vpr/super/24_slurm_swebench_verified_super.yaml
  examples/configs/vpr/super/25b_slurm_swebench_multilingual_prod.yaml
  examples/configs/vpr/super/25b_slurm_swebench_pro_prod.yaml
  examples/configs/vpr/super/26_slurm_terminalbench_v1_super.yaml
  examples/configs/vpr/ultra/27_slurm_swebench_verified_ultra_hsg.yaml
  src/nemo_evaluator/config/__init__.py
  src/nemo_evaluator/config/services.py
  src/nemo_evaluator/interceptors/__init__.py
  src/nemo_evaluator/interceptors/drop_params.py
  src/nemo_evaluator/interceptors/enable_reasoning.py
  src/nemo_evaluator/orchestration/orchestrator.py
  src/nemo_evaluator/orchestration/proxy.py
  src/nemo_evaluator/orchestration/slurm_gen.py
  src/nemo_evaluator/solvers/harbor.py
Due: none

Sharded SLURM
  examples/configs/vpr/super/24_slurm_swebench_verified_super.yaml
  examples/configs/vpr/super/25b_slurm_swebench_multilingual_prod.yaml
  examples/configs/vpr/super/25b_slurm_swebench_pro_prod.yaml
  examples/configs/vpr/super/26_slurm_terminalbench_v1_super.yaml
  examples/configs/vpr/ultra/27_slurm_swebench_verified_ultra_hsg.yaml
  src/nemo_evaluator/cli/eval.py
  src/nemo_evaluator/config/eval_config.py
  src/nemo_evaluator/environments/harbor.py
  src/nemo_evaluator/executors/slurm_executor.py
  src/nemo_evaluator/executors/ssh.py
  src/nemo_evaluator/orchestration/slurm_gen.py
  src/nemo_evaluator/run_store.py
  src/nemo_evaluator/sandbox/strategies.py
  tests/test_slurm_sharding.py
Due: none

Fix tests
  .gitlab-ci.yml
  pyproject.toml
  tests/test_config_schema.py
Due: none

Added handy status watcher
  examples/configs/vpr/super/24_slurm_swebench_verified_super.yaml
  src/nemo_evaluator/cli/eval.py
  src/nemo_evaluator/executors/slurm_executor.py
  tests/test_slurm_sharding.py
Due: none

One more
  examples/configs/vpr/ultra/27_slurm_swebench_verified_ultra_hsg.yaml
  src/nemo_evaluator/executors/slurm_executor.py
  tests/test_slurm_sharding.py
Due: none

Hotfix
  src/nemo_evaluator/cli/eval.py
  src/nemo_evaluator/executors/slurm_executor.py
  src/nemo_evaluator/orchestration/slurm_gen.py
Due: none

small fixes
  examples/configs/vpr/ultra/27_slurm_swebench_verified_ultra_hsg.yaml
  src/nemo_evaluator/executors/slurm_executor.py
  src/nemo_evaluator/executors/ssh.py
  src/nemo_evaluator/orchestration/slurm_gen.py
Due: none

Another fix
  src/nemo_evaluator/orchestration/slurm_gen.py
Due: none

Paired regression analysis: McNemar test, flip report, verdicts, clustered SE
  src/nemo_evaluator/cli/regression.py
  src/nemo_evaluator/engine/__init__.py
  src/nemo_evaluator/engine/comparison.py
  src/nemo_evaluator/metrics/confidence.py
  tests/test_confidence.py
  tests/test_regression.py
Due: none

Add Markdown investigation report and clustered standard errors
  src/nemo_evaluator/cli/regression.py
  src/nemo_evaluator/engine/regression_report.py
Due: none

Add regression analysis section to README
  README.md
Due: check-readme-checksum

Compact README regression section
  README.md
Due: check-readme-checksum

Peak UX: accept directories, auto-report, summary sentence, side-by-side responses
  README.md
  src/nemo_evaluator/cli/regression.py
  src/nemo_evaluator/engine/regression_report.py
Due: check-readme-checksum

Surface [stats] install extra in Install section for regression analysis
  README.md
Due: check-readme-checksum

Address MR review: deduplicate helpers, thread threshold into report
  src/nemo_evaluator/cli/regression.py
  src/nemo_evaluator/engine/__init__.py
  src/nemo_evaluator/engine/comparison.py
  src/nemo_evaluator/engine/regression_report.py
Due: none

SWEs
  examples/configs/vpr/ultra/28_slurm_swebench_multilingual_ultra_hsg.yaml
  examples/configs/vpr/ultra/29_slurm_swebench_pro_ultra_hsg.yaml
  src/nemo_evaluator/benchmarks/_swebench_base.py
  src/nemo_evaluator/config/sandboxes.py
  src/nemo_evaluator/sandbox/ecs_fargate.py
Due: none

feat: add multi-benchmark accuracy quality gate (policy + engine)
  src/nemo_evaluator/config/gate_policy.py
  src/nemo_evaluator/engine/gate.py
  tests/test_gate.py
  tests/test_gate_policy.py
Due: none

fix metric-aware CI-based quality gate
  README.md
  src/nemo_evaluator/config/__init__.py
  src/nemo_evaluator/config/gate_policy.py
  src/nemo_evaluator/engine/__init__.py
  src/nemo_evaluator/engine/gate.py
  tests/test_gate.py
  tests/test_gate_policy.py
Due: check-readme-checksum

rename regression command to compare
  AGENTS.md
  README.md
  docs/api/index.md
  docs/architecture/index.md
  docs/deployment/ci-regression.md
  docs/deployment/index.md
  docs/get-started/quickstart.md
  docs/index.md
  docs/regression/quality-gate.md
  docs/regression/run-regressions.md
  docs/tutorials/regression-ci.md
  src/nemo_evaluator/cli/main.py
  src/nemo_evaluator/cli/regression.py
  src/nemo_evaluator/engine/regression_report.py
Due: check-readme-checksum

add gate cli and tutorials
  README.md
  docs/api/index.md
  docs/architecture/index.md
  docs/deployment/ci-regression.md
  docs/index.md
  docs/regression/quality-gate.md
  docs/regression/run-regressions.md
  docs/tutorials/compare.md
  docs/tutorials/index.md
  docs/tutorials/quality-gate.md
  docs/tutorials/regression-ci.md
  src/nemo_evaluator/cli/gate.py
  src/nemo_evaluator/cli/main.py
  tests/test_gate_cli.py
Due: check-readme-checksum

docs: rewrite compare and quality-gate tutorials, update get-started docs
  docs/deployment/ci-regression.md
  docs/get-started/install.md
  docs/get-started/quickstart.md
  docs/index.md
  docs/tutorials/compare.md
  docs/tutorials/index.md
  docs/tutorials/quality-gate.md
  docs/tutorials/regression-ci.md
  docs/tutorials/walkthrough.md
Due: none

Fix swepro
  src/nemo_evaluator/environments/harbor.py
  src/nemo_evaluator/sandbox/strategies.py
Due: none

feat(per-sample-score): per sample score (#888)
  packages/nemo-evaluator/src/nemo_evaluator/api/api_dataclasses.py
Due: none

More fixes
  src/nemo_evaluator/executors/local_executor.py
  src/nemo_evaluator/sandbox/ecs_fargate.py
  src/nemo_evaluator/solvers/harbor.py
Due: none

chore: bump _code_freeze workflow to v0.86.0
  .github/workflows/release-freeze.yml
Due: none

chore: bump `_code_freeze` workflow to `v0.86.0` (#891)
  .github/workflows/release-freeze.yml
Due: none

SWE-Multilingual
  docker/Dockerfile.harbor
  pyproject.toml
  src/nemo_evaluator/benchmarks/__init__.py
  src/nemo_evaluator/benchmarks/_swebench_base.py
  src/nemo_evaluator/benchmarks/swebench_multilingual.py
  src/nemo_evaluator/config/benchmarks.py
  src/nemo_evaluator/config/eval_config.py
  src/nemo_evaluator/engine/eval_loop.py
  src/nemo_evaluator/orchestration/orchestrator.py
  src/nemo_evaluator/orchestration/slurm_gen.py
  src/nemo_evaluator/playbooks/swebench_multilingual.yaml
  src/nemo_evaluator/playbooks/swebench_pro.yaml
  src/nemo_evaluator/playbooks/swebench_verified.yaml
  src/nemo_evaluator/solvers/harbor.py
  src/nemo_evaluator/templates/__init__.py
  src/nemo_evaluator/templates/swebench_instruction.md
Due: no-underscore-md

Up
  src/nemo_evaluator/solvers/harbor.py
Due: none

Fix counter
  src/nemo_evaluator/interceptors/turn_counter.py
Due: none

Disable stick detection
  src/nemo_evaluator/playbooks/swebench_verified.yaml
  src/nemo_evaluator/solvers/harbor.py
Due: none

Severyl patched
  src/nemo_evaluator/solvers/harbor.py
Due: none

Some hacky stuff
  src/nemo_evaluator/solvers/harbor.py
Due: none

change default max tokens for models to None
  docs/api/index.md
  src/nemo_evaluator/cli/eval.py
  src/nemo_evaluator/engine/cache.py
Due: none

Updated defaults
  src/nemo_evaluator/playbooks/swebench_verified.yaml
  src/nemo_evaluator/solvers/harbor.py
Due: none

More fixes
  src/nemo_evaluator/environments/harbor.py
  src/nemo_evaluator/sandbox/transfer.py
Due: none

fix corner cases in metrics extraction
  packages/nemo-evaluator-launcher/src/nemo_evaluator_launcher/exporters/base.py
  packages/nemo-evaluator-launcher/src/nemo_evaluator_launcher/exporters/utils.py
Due: none

allow to parametrize metrics key structure and set better separator for wandb to for better nested structure
  packages/nemo-evaluator-launcher/src/nemo_evaluator_launcher/exporters/base.py
  packages/nemo-evaluator-launcher/src/nemo_evaluator_launcher/exporters/utils.py
  packages/nemo-evaluator-launcher/src/nemo_evaluator_launcher/exporters/wandb.py
Due: none
